# Ignore virtual environment files
/.venv
Pipfile.lock

# Ignore any local development settings
*.env
*.pyc

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE or editor-specific files
/.vscode
/.idea
*.sublime-project
*.sublime-workspace
